@import '../styles/colors.module.less';
@import '../styles/functions.module.less';

@HEIGHT: 64px;

.player-card {
    position: relative;
    width: 100%;
    height: @HEIGHT;
    z-index: 500;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //background image is set dynamically
        background-size: cover;
        background-position: center;
        z-index: 200;
    }

    &__content {
        position: relative;
        height: 100%;
        display: flex;
        color: white;
        font-weight: 600;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        background-color: fade(@gray-dark, 80%);
        transition: all 0.3s ease;
        cursor: pointer;
        z-index: 201;

        &:hover {
            background-color: fade(@gray-dark, 90%);
            transition: all 0.3s ease;
        }
    }

    &__info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
        z-index: 202;

        &__username {
            font-size: 1.2em;
            font-weight: 700;
            margin-bottom: 5px;
            vertical-align: middle;
        }
    }

    &__team-tag {
        display: inline-block;
        padding: 2px 4px;
        margin-right: 4px;
        font-size: 0.8em;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        height: 22px;
        vertical-align: middle;
    }

    &__flag {
        display: inline-block;
        margin-right: 4px;

        img {
            height: 22px;
            width: auto;
            vertical-align: middle;
        }
    }

    &__roles {
        margin-top: 4px;
        font-size: 0.8em;
        font-weight: 500;

        display: flex;
        flex-direction: row;
        gap: 4px;
    }

    &__role {
        display: inline-flex;
        align-items: center;

        &__icon {
            display: inline-block;
            vertical-align: middle;

            font-size: 1.2em;
        }
    }
}