@score-card-radius: 14px;

.score-card {
    height: 100%;
    border-radius: @score-card-radius;
    background-position: center;
    background-size: auto;
    background-color: rgba(0,0,0,0.8);

    &__content {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: @score-card-radius;
        padding: 10px;
    }
}