@import '../styles/colors.module.less';
@import '../styles/variables.module.less';
@import '../styles/functions.module.less';

@score-view-width: 450px;
@score-view-extended-width: 850px; //This display more detailed score information
@score-view-radius: 20px;
@score-view-userdata-height: 80px;
@username-font-size: @font-size--title-small-3;
@score-view-side-button-width: 40px;

.score-view {
    display: flex;
    flex-direction: 'row';
    align-items: 'center';
    justify-content: 'center';

    &__backdrop {
        display: flex;
        flex-direction: 'row';
        align-items: 'center';
        justify-content: 'center';
        background-color: fade(@gray-dark, 60%);
        border-radius: @score-view-radius;
    }

    &__base {
        width: @score-view-width;
        position: relative;
        padding-top: (@score-view-userdata-height / 2) + @username-font-size + 5; //to account for the user data sticking out

        &__user-data {
            //sticks out on the top by 50%, centered horizontally
            position: absolute;
            top: -(@score-view-userdata-height / 2);
            left: 50%;
            transform: translateX(-50%);
            height: @score-view-userdata-height;
            width: calc(100% - 40px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__username {
                font-size: @username-font-size;
                font-weight: 500;
            }
        }

        &__content {
            position: relative;
            padding: 10px;
            background-color: fade(@gray, 60%);
            border-radius: @score-view-radius;
        }

        &__background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            //background image is set dynamically
            border-radius: @score-view-radius;
            background-size: cover;
            background-position: center;

            &__overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                //gradient overlay from transparent to @gray
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, fade(@gray, 80%) 100%);
                border-radius: @score-view-radius;
            }
        }

        &__link {
            color: white !important;
            text-decoration: none;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__extended {
        width: @score-view-extended-width;
        max-height: 80vh;


        &__content {
            padding: 20px;

            display: flex;
            flex-direction: column;

            max-height: 80vh;

            color: white !important;

            &__no-data {
                .center-content();
                height: 100%;
                width: 100%;
                font-style: italic;
            }
        }

        &__tabs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            margin-bottom: 10px;
            flex: 0 0 auto;
        }

        &__tab {
            padding: 5px 10px;
            border-radius: 10px;
            background-color: @gray-dark;
            cursor: pointer;
            user-select: none;
            transition: all 0.3s ease;

            &--active {
                background-color: @gray-darker;
                color: white;
            }

            &:hover {
                background-color: lighten(@gray-dark, 10%);
                transition: all 0.3s ease;
            }
        }

        &__tab-content {
            flex: 1 1 auto;
            overflow-y: auto;
        }
    }

    &__extender-button {
        width: @score-view-side-button-width;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
        transition: all 0.3s ease;
        color: white;

        //on hover
        &:hover {
            text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
            transition: all 0.3s ease;
        }
    }
}