.score-stats {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    &__group {
        grid-gap: 4px;
        display: grid;
        width: 100%;

        &--stats {
            margin-left: auto;
        }
    }

    &__stat {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}