@import '../Style/functions.module.less';
@import '../Style/colors.module.less';

@score-modal-width: 450px;
@score-modal-radius: 20px;

.score-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: @gray-dark;
    width: @score-modal-width;
    border-radius: @score-modal-radius;

    &__content {
        position: relative;
        padding: 20px;
        background-color: @gray;
        border-radius: @score-modal-radius;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //background image is set dynamically
        border-radius: @score-modal-radius;
        background-size: cover;
        background-position: center;

        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            //gradient overlay from transparent to @gray
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, @gray 100%);
            border-radius: @score-modal-radius;
        }
    }
}