@mod-height: 32px;
@mod-height-normal: 22px;
@mod-height-small: 18px;

@font-grade: Venera, sans-serif;

@font-size--tiny: 8px;
@font-size--small: 10px;
@font-size--small-2: 11px;
@font-size--normal: 12px;
@font-size--normal-2: 13px;
@font-size--title-small: 14px;
@font-size--title-small-2: 15px;
@font-size--title-small-3: 16px;
@font-size--title-small-4: 18px;
@font-size--large: 20px;
@font-size--title: 24px;
@font-size--large-2: 35px;
@font-size--large-3: 40px;
@font-size--large-4: 50px;
@font-size--extra-large: 70px;